@import "./../../scss/styles.scss";

.description {
  width: 590px;
  &__title {
    color: $colorWhite;
    text-align: center;
    font-size: 3rem;
  }
  .service {
    @include gridLayout(3, 1, 1rem);
    grid-template-rows: minmax(185px, auto);
    margin-top: 2rem;

    &__name {
      border: $border;
      width: 100%;
      height: 100%;
      @include flexCenter(column);
      &--icon {
        font-size: 4rem;
        color: $secondary-color;
      }
      &--text {
        color: $colorWhite;
      }
    }
  }
}

@include mobileScreen {
  .description {
    width: 95%;
    &__title {
      font-size: 2rem;
    }
    .service {
      @include gridLayout(1, minmax(60px, auto), 0);
      grid-template-rows: minmax(60px, auto);
      row-gap: 1rem;
      &__name {
        @include flexCenter(row);
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        &--icon {
          font-size: 2rem;
          margin-right: 1.5rem;
        }
      }
    }
  }
}
