@import "./../../scss/styles.scss";

header {
  background: $primary-color;
  @include flexSpaceBetween;
  height: $headerHeight;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.nav {
  @include flexSpaceBetween;
  &__brand {
    color: $colorWhite;
    text-transform: $upperCase;
    &--last {
      color: $colorRed;
      font-weight: 600;
    }
  }
}
