@import "./../../scss/styles.scss";

.menu {
  @include flexSpaceBetween;
  &__nav {
    margin: 0 1rem;
    &.active {
      a {
        color: $colorWhite;
      }
    }
    .action-button {
      background-color: $secondary-color;
      color: $colorWhite;

      &__icon {
        @include flexSpaceBetween;
        background-color: $secondary-color;
        padding: 3px 14px;
        border-radius: 1rem;
        svg {
          font-size: 14px;
          margin-top: 3px;
          margin-right: 4px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
