@import "./../../scss/styles.scss";

.contact {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("./../../assets/images/hero.jpg") center top;
  background-size: cover;
  &__form {
    width: 800px;
    margin: 0 auto;
    min-height: 320px;
    color: $colorWhite;
    text-align: center;
    h2 {
      margin-bottom: 1rem;
    }
    .input-wrapper {
      @include gridLayout(3, 1, 1rem);
      margin-top: 2rem;
    }
    textarea {
      width: 100%;
      outline: none;
      min-height: 105px;
      border-radius: 3px;
      padding: 0.5rem;
      margin: 1rem 0;
    }
  }
}
