@mixin sectionAlignment($maxWidth, $width) {
  margin: 0 auto;
  max-width: $maxWidth;
  width: $width;
}

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin gridLayout($columns, $rows, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  column-gap: $gap;
}

// Desktop-First Design Followed

@mixin mobileScreen {
  @media (max-width: $mobile) {
    @content;
  }
}
