$primary-color: #201d1d;
$secondary-color: #e73d00;
$colorWhite: #fff;
$colorRed: rgb(211, 0, 0);
$colorGray: #ada9a8;
$headerHeight: 68px;
$upperCase: uppercase;
$border: 1px solid $colorGray;
$buttonRadius: 1rem;
